<!-- mymap.html (Django Template) -->

<!DOCTYPE html>
<html>
<head>
    <title>Dynamic Marker Icons</title>
    <style>
        #map {
            height: 100VH;
            width: 100%;
        }
    </style>
</head>
<body>
   <p>Total Places are : {{ Length }}</p>
<div id="map"></div>

<script>
    function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 07,
            center: {lat: 18.757574205947943, lng: 73.41131875561207}  // Default center (adjust as needed)
        });

        // Django variable containing places data
        var places = {{ places|safe }};  // |safe is used for objects to prevent HTML escaping
        // Custom marker icon
        var customIcon = {
            url: 'http://maps.gstatic.com/mapfiles/ms2/micons/bus.png',  // Replace with the path to your custom icon
            scaledSize: new google.maps.Size(20, 20)  // Adjust the size of the icon
        };

        busMarker = new google.maps.Marker({
            map: map,
            position: {lat: 17.7023, lng: 76.7246},  // Initial position
            title: 'Bus',
            icon: customIcon
        });
    
    function updateBusLocation(latitude, longitude) {
        var newLocation = new google.maps.LatLng(latitude, longitude);
    
        // Update the marker position
        busMarker.setPosition(newLocation);
    
        // Center the map on the new location (optional)
        map.panTo(newLocation);
    }
    
    var interval = 1000; // how much time should the delay between two iterations be (in milliseconds)?
    places.forEach(function (place, index) {
      setTimeout(function () {
        updateBusLocation(place.lat, place.lng);
              
      },  index*interval);
    });
    console.log('Loop finished.');
        
}
</script>

<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC-XswH7ZFfAcojihasZo4AYAtQvvqJBU0&callback=initMap">
</script>

</body>
</html>
